$color__dark-blue: #3a494f;
body {
  color:$color__dark-blue;
}
.btn:focus,
.btn:active:focus{
  box-shadow: none !important;
}
.btn:focus-visible {
  outline: none;
}
.layout__logo-img {
  height: 3.5rem;
}
.design__link {
  margin-bottom: 1.5rem;
}
.img-thumbnail {
  transition: .5s;
}
.design__link:hover .img-thumbnail {
  box-shadow:  0 .5rem 1rem rgba(0,0,0,.3);
}
.carousel {
  .carousel__slide {
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: center;
    svg {
      height: 50%;
    }
    svg.skill_logo-name {
      width: 70%;
    }
  }
  @media screen and (max-width: 769px) {
    .carousel__slide {
      width: 50%;
    }
  }
}